<app-post-create></app-post-create>

<div class="album py-5 bg-dark ">
  <div class="container">
    <div class="row">
      <div class="col-md-4 " *ngFor="let post of postsList">
        <div class="card mb-4 shadow-sm">
          <img [src]="post.imagePath" style="width: 100%" />
          <div class="card-body">
            <p class="card-text">{{ post.content }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  class="btn btn-sm btn-outline-secondary"
                  data-toggle="collapse"
                  href="#{{ post.title }}"
                  role="button"
                >
                  View comments
                </a>
                <button
                  (click)="onUpdate(post.id, post.title, post.content)"
                  class="btn btn-sm btn-outline-warning"
                  data-toggle="modal"
                  data-target="#myModala"
                  #zindex
                >
                  Update post
                </button>
                <button
                  (click)="onDelete(post.id)"
                  class="btn btn-sm btn-outline-danger"
                >
                  Delete
                </button>
              </div>
            </div>
            <div class="btn-group">
              <!-- Like Button -->
              <button
                type="button"
                name="button"
                class="btn btn-sm btn-success "
                (click)="likeBlog(post.id)"
              >
                <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes:
                {{ post.likes }}
              </button>
              <button
                *ngIf="userIsAuthenticated"
                type="button"
                name="button"
                class="btn btn-sm btn-danger"
                (click)="dislikeBlog(post.id)"
              >
                <span class="glyphicon glyphicon-thumbs-down">&nbsp;</span
                >Dislikes: {{ post.dislikes }}
              </button>
              <!-- Dropdown Menu Items -->
            </div>
          </div>
          <div class="collapse" id="{{ post.title }}">
            <div>
              <form
                [formGroup]="formComment"
                (submit)="commentBlog(post.id)"
                required
              >
              <div class="input-group mb-3">
                  <input
                    formControlName="comment"
                    type="text"
                    class="form-control"
                    placeholder="Enter your comment"
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2"
                    required
                    minlength="5"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-info"
                      type="submit"
                      id="button-addon2"
                    >
                    Comment
                     
                    </button>
                  </div>
                </div>
                <div
                  *ngIf="formComment.get('comment').hasError('required')"
                  class="alert alert-danger"
                  role="alert"
                >
                  You have to input the comment
                </div>
                <div
                  *ngIf="formComment.get('comment').hasError('minlength')"
                  class="alert alert-danger"
                  role="alert"
                >
                  Comment length should be at least 5 characters
                </div>
                <div
                  *ngIf="formComment.get('comment').hasError('minLength')"
                  class="alert alert-danger"
                  role="alert"
                >
                  Comment length should be at least 5 characters
                </div>
              </form>
            </div>
            <div
              class="card card-body"
              style="height: 5rem"
              *ngFor="let comment of post.comments"
            >
              <p>
                <b>{{ comment.commentator }}</b
                >:{{ comment.comment }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="myModala"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalAddPicture"
  aria-hidden="true"
>
  <div id="modalica" class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add a picture</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeAddExpenseModal
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="form" (submit)='updateModal()' >
              <div class="form-group">
                <label for="picture-title" class="col-form-label">Title:</label>
                <input  formControlName="title" name="title"  type="text" class="form-control" id="picture-title" >
                <div type="text" *ngIf="form.get('title').hasError('minlength')  " class="alert alert-danger" role="alert">
                    You have to imput the title with min length of 5
                  </div>
                  <div type="text" *ngIf="form.get('title').hasError('pattern')  " class="alert alert-danger" role="alert">
                      Letters only
                    </div>
                    <div type="text" *ngIf="form.get('title').hasError('required')  " class="alert alert-danger" role="alert">
                        You have to input the title
                      </div>
              </div>
    
              <button (click)="filePicker.click()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">Button</button>
              <input  #filePicker type="file" style="visibility: hidden" (change)="onImagePicked($event)">
    
              <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview &&  form.get('image').valid ">
                <img [src]="imagePreview" [alt]="form.value.title">
              </div>
              <div *ngIf="form.get('image').invalid" class="alert alert-danger" role="alert">
                  You have to upload a picture
                </div>
              <div class="form-group">
                <label  for="picutre-text" class="col-form-label" >Description:</label>
                <textarea type="text" formControlName="text"  name="text"   class="form-control" id="picture-text"  ></textarea>
                <div type="text" *ngIf="form.get('text').hasError('minlength')  " class="alert alert-danger" role="alert">
                    You have to imput the title with min length of 5
                  </div>
                  <div type="text" *ngIf="form.get('text').hasError('pattern')  " class="alert alert-danger" role="alert">
                      Letters only
                    </div>
                    <div type="text" *ngIf="form.get('text').hasError('required')  " class="alert alert-danger" role="alert">
                        You have to input the title
                      </div>
    
    
              </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <button id="myBtn" type="submit" class="btn btn-primary ">
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
