



<!--<div class="container-fluid h-100 ">
  <div class="row h-100" >

    <div class="col-2 p-0 bg-dark "id="sidee">
      <app-navbar></app-navbar>
    </div>

    <div class="col-10 p-0 " id="fucker">
      <router-outlet  ></router-outlet >

  </div>
</div> -->


<div class="container-fluid h-100">
  <div class="row h-100">
    <aside class="col-12 col-md-2 p-0 bg-dark fixed-top">
      <app-navbar></app-navbar>
    </aside>
    <main class="col 10 offset-md-2 bg-faded py-3 "  id="backg">
      <router-outlet  ></router-outlet >
  </main>

  </div>
</div>



